DATABASE_URI=postgresql://ostool_user:change-me@database:5432/ostool
PAYLOAD_SECRET=change-me
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000

POSTGRES_USER=ostool_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=ostool

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me

AUTH_SECRET=change-me
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_LINKEDIN_ID=
AUTH_LINKEDIN_SECRET=
